<div class="col-xs-8 col-xs-offset-1 col-md-4 col-md-offset-4">
	<h3 class="form-group">Log In</h3>

	<form class="form log-in" ng-submit="logIn(userData)">
		<div class="row form-group">
			<div class="col-xs-12" ng-class="{'has-error': !userData.name}">
				<input type="text" class="form-control" ng-model="userData.name" placeholder="Name" />
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-12" ng-class="{'has-error': !userData.password}">
				<input type="password" class="form-control" ng-model="userData.password" placeholder="Password" />
			</div>
		</div>

		<p class="form-group alert alert-danger" ng-hide="!invalid">No such user or password is wrong.</p>
		<p class="form-group alert alert-info" ng-hide="!busy || invalid"><i class="fa fa-refresh fa-pulse"></i> in progress..</p>

		<div class="row text-center form-group" ng-hide="busy">
			<div class="col-xs-12 col-md-4 btn btn-warning" ui-sref="signup">Sign Up</div>
			<button class="col-xs-12 col-md-4 btn btn-success">Log In</button>
		</div>
	</form>
</div>