<div class="col-xs-8 col-xs-offset-1 col-md-4 col-md-offset-4">
	<h3 class="">Log In</h3>
	<form class="form log-in" ng-submit="logIn(userData)">
		<div class="row">
			<div class="col-xs-12" ng-class="{'has-error': !userData.name}">
				<input type="text" class="form-control" ng-model="userData.name" placeholder="Name" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" ng-class="{'has-error': !userData.pass}">
				<input type="password" class="form-control" ng-model="userData.pass" placeholder="Password" />
			</div>
		</div>
		<p class="alert alert-danger" ng-hide="!invalid">No such user or password is wrong.</p>
		<div class="row text-center">
			<div class="col-xs-12 col-md-4 btn btn-warning" ui-sref="signin">Sign In</div>
			<button class="col-xs-12 col-md-4 btn btn-success">Log In</button>
		</div>
	</form>
</div>