<div class="navigation-wrapper">
	<div class="navigation-list">
		<div class="navigation-group">
			<div class="navigation-link user-profile btn"
			   ui-sref="profile" ui-sref-active="selected" title="profile: {{user.name}}">
				<i class="profile-icon fa fa-user"></i>
			</div>
		</div>
		<div class="navigation-group">
			<a class="navigation-link" ng-repeat="link in navigation.topLinks track by $index"
				ui-sref="{{link.state}}" ui-sref-active="selected" title="{{link.title}}" ng-class="{disabled: link.disabled}">
				<i class="fa" ng-class="link.icon"></i>
			</a>
		</div>

		<div class="navigation-group bottom-group">
			<a class="navigation-link" ng-repeat="link in navigation.bottomLinks track by $index"
			   ui-sref="{{link.state}}" ui-sref-active="selected" title="{{link.title}}" ng-class="{disabled: link.disabled}">
				<i class="fa" ng-class="link.icon"></i>
			</a>
		</div>
	</div>
</div>