<div>
	<h4>Choose New Source</h4>

	<div class="row">
		<div class="col-xs-12 col-md-4" ng-repeat="source in sources">
			<a class="btn btn-primary" ng-click="goToPath('/auth/'+source.key);" ng-bind="source.name"></a>
		</div>
	</div>
	<!--<form ng-model="source" ng-submit="onConfirm(source);">-->
		<!--<div class="form-group row">-->
			<!--<div class="col-xs-12">-->
				<!--<select class="form-control" ng-options="item as item.label for item in sourceTypes track by item.key" ng-model="source.type"></select>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="form-group row">-->
			<!--<div class="col-xs-12 col-md-6"><input type="text" class="form-control" ng-model="source.user" placeholder="Name" /></div>-->
			<!--<div class="col-xs-12 col-md-6"><input type="text" class="form-control" ng-model="source.password" placeholder="Password" /></div>-->
		<!--</div>-->
		<!--<div class="form-group row">-->
			<!--<div class="col-xs-12">-->
				<!--<button class="btn btn-warning form-control">Confirm</button>-->
			<!--</div>-->
		<!--</div>-->
	<!--</form>-->
</div>